<div>
    <h2 id="page-heading">
        <span jhiTranslate="mixprojectApp.consumers.home.title">Consumers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-consumers" [routerLink]="['/consumers/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="mixprojectApp.consumers.home.createLabel">
            Create new Consumers
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="consumers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="mixprojectApp.consumers.name">Name</span></th>
            <th><span jhiTranslate="mixprojectApp.consumers.email">Email</span></th>
            <th><span jhiTranslate="mixprojectApp.consumers.phone">Phone</span></th>
            <th><span jhiTranslate="mixprojectApp.consumers.websites">Websites</span></th>
            <th><span jhiTranslate="mixprojectApp.consumers.adress">Adress</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let consumers of consumers ;trackBy: trackId">
                <td><a [routerLink]="['/consumers', consumers.id, 'view' ]">{{consumers.id}}</a></td>
                <td>{{consumers.name}}</td>
                <td>{{consumers.email}}</td>
                <td>{{consumers.phone}}</td>
                <td>{{consumers.websites}}</td>
                <td>
                    <div *ngIf="consumers.adress">
                        <a [routerLink]="['../address', consumers.adress?.id, 'view' ]" >{{consumers.adress?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/consumers', consumers.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/consumers', consumers.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'consumers/'+ consumers.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
